.main-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #373e68;
  padding: 10px;
  border-radius: 15px;
}

.btns-cont {
  display: flex;
  gap: 5px;
}

.btn {
  background-color: #ae1feb;
  color: white;
  padding: 8px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 400ms;
  border: none;
}

.btn:hover {
  background-color: white;
  color: #ae1feb;
}

.select-sort {
  padding: 0 7px;
  background-color: #373e68;
  text-align: center;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.mobile-btns-cont {
  display: block;
}

.br {
  display: none;
}

@media (width <= 750px) {
  .main-cont {
    border-radius: 0;
  }
}

@media (width <= 580px) {
  .suggestions-count {
    display: none;
  }
}

@media (width <= 440px) {
  .main-cont {
    padding: 10px 3px;
  }

  .btns-cont {
    flex-direction: column;
  }

  .br {
    display: block;
  }

  .select-sort {
    text-align: left;
    padding: 0;
    margin-top: 5px;
  }
}
