.main-cont {
  display: flex;
  gap: 10%;
  padding: 70px;
}

@media (width <= 1200px) {
  .main-cont {
    gap: 5%;
  }
}

@media (width <= 1000px) {
  .main-cont {
    flex-direction: column;
    gap: 25px;
  }
}

@media (width <= 750px) {
  .main-cont {
    padding: 70px 0;
    gap: 0;
    padding-top: 0;
  }
}
