.main-cont {
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.flex-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.userid {
  font-size: 13px;
  color: gray;
  margin-top: 3px;
}

.reply {
  color: #4661e6;
  cursor: pointer;
}

.des {
  margin: 20px 0;
  font-size: 15px;
  color: gray;
  line-height: 23px;
}
