.main-cont {
  width: 700px;
  margin: 30px auto;
  //   border: 1px solid black;
}

.files-cont {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgb(233, 233, 233);
  margin-top: 20px;
}

.file-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.image-file {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 1px solid black;
  cursor: pointer;
}

.other-files {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 1px solid black;
  cursor: pointer;
}

.file-i .loading {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 80px calc((100% - 50px) / 2);
  padding: 0;
  box-sizing: border-box;
  border-top: 4px solid black;
  border-right: 4px solid gainsboro;
  border-bottom: 4px solid gainsboro;
  border-left: 4px solid gainsboro;
  animation: change 0.7s infinite linear;
  animation-delay: 0s;
}

.view-img-btn {
  background-color: #00ffd0;
  padding: 10px 23px;
  border: none;
  color: rgb(0, 59, 186);
  border-radius: 7px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(131, 131, 131, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  // display: none;
}

.multiply-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  cursor: pointer;
}

.img-view {
  max-height: 90vh;
  max-width: 90vw;
  border-radius: 10px;
}

.loading {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin: calc((100vh - 70px) / 2) auto;
  padding: 0;
  box-sizing: border-box;
  border-top: 4px solid black;
  border-right: 4px solid gainsboro;
  border-bottom: 4px solid gainsboro;
  border-left: 4px solid gainsboro;
  animation: change 0.7s infinite linear;
  animation-delay: 0s;
}

@keyframes change {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (width <=760px) {
  .main-cont {
    width: calc(100% - 60px);
    margin: 30px;
  }
}
