.main-cont {
  background-color: white;
  padding: 50px 30px;
  border-radius: 10px;
  position: fixed;
  z-index: 5;
  width: 300px;
  max-height: 380px;
  height: 80vh;
  left: calc((100vw - 300px) / 2);
  top: 10vh;
  overflow-y: scroll;
}

.multiply-icon {
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.main-cont > form {
  display: flex;
  flex-direction: column;
}

.main-cont > form input {
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.main-cont > form label {
  font-size: 13px;
  color: rgb(70, 70, 70);
}

.margin-top {
  margin-top: 20px;
}

.submit-btn {
  background-color: black;
  color: white;
  padding: 7px 0;
  margin: 40px 0 20px 0;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 400ms;
  font-size: 14px;
}

.submit-btn:hover {
  background-color: white;
  color: black;
}

.error {
  border: 1px solid red;
  color: red;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 12px;
}

.placeholder {
  height: 50px;
}

.loading {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 0 calc((100% - 20px) / 2);
  padding: 0;
  box-sizing: border-box;
  border-top: 4px solid black;
  border-right: 4px solid gainsboro;
  border-bottom: 4px solid gainsboro;
  border-left: 4px solid gainsboro;
  animation: change 0.7s infinite linear;
  animation-delay: 0s;
}

@keyframes change {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
